h3 Contact Us
form(ng-submit="send()")
  div.row-fluid
    div.span8
      .control-group(ng-class="{error: errors.name != null}")
        label.control-label(for='Name') Name
        .controls
          input#Name(type='text', name="Name", ng-model="name", placeholder='Name')
          div(ng-visible='errors.name != null', ng-model='errors.name') {{ errors.name }}

      .control-group(ng-class="{error: errors.email != null}")
        label.control-label(for='email') Email
        .controls
          input#email(type='text', name="email", ng-model="email", placeholder='E-mail address')
          div(ng-visible='errors.email != null', ng-model='errors.email') {{ errors.email }}

      .control-group(ng-class="{error: errors.subject != null}")
        label.control-label(for='subject') Subject
        .controls
          select(name='subject', ng-model="subject", ng-options="subject for subject in subjects")
            option(value="") Choose a subject
            div(ng-visible='errors.subject != null', ng-model='errors.subject') {{ errors.subject }}

      .control-group(ng-class="{error: errors.message != null}")
        label.control-label(for='message') Message
        .controls
          textarea#message.span7(name="message", ng-model="messageText", placeholder='Message', rows='8')
          div(ng-visible='errors.message != null', ng-model='errors.message') {{ errors.message }}
  div.row-fluid
    button.btn.btn-primary(type='submit') Send

