div
  ul.nav.nav-tabs
    li(ng-class='tabs.member')
      a(href="javascript:", eat-click, ng-class='tabs.member', ng-click="toggleTab('member')") Member Profile
    li(ng-class='tabs.publication')
      a(href="javascript:", eat-click, ng-click="toggleTab('publication')") Publications
  div(ng-visible="tabs.member == 'active'" ).row-fluid
    h4 {{member.fullName}}'s Profile
      span(style="display: inline-block;")
        button(ng-visible="!isEditing", ng-click="toggleEdit()", class="btn btn-small btn-primary").offset2 Edit

    div(ng-visible="!isEditing")
      div.row-fluid
        div.span2 Induction Year
        div.span4 {{ member.inductionYear }}
      div.row-fluid
        div.span2 E-mail
        div.span4 {{ member.emailAddresses[0] }}

    div(ng-visible="isEditing")
      div.row-fluid
        label(for='firstName') First Name
        input(type="text", ng-model='member.firstName', name="firstName")
        br
        label(for='lastName') Last Name
        input(type="text", ng-model='member.lastName', name="lastName")
        br
        label(for='inductionYear') Induction Year
        input(type="text", ng-model='member.inductionYear', name="inductionYear")
        br
        label(for='email') Email
        input(type="text", ng-model='member.emailAddresses[0]', name="emailAddress")
        br
        div.row-fluid
          div.span2
            button(name="SubmitMember", ng-click="editMember()").btn.btn-primary Save Member
          div.span4
            button(name="Cancel", ng-click="toggleEdit()").btn.btn-inverse Cancel

  div(ng-visible="tabs.publication == 'active'").row-fluid
    div(ng-visible="!importClicked").row-fluid
      h4 {{member.fullName}}'s Publications
        span(style="display: inline-block;")
          button(name="addPublication", ng-click="addPublication()").offset2.btn.btn-small.btn-primary New
        span(style="display: inline-block;")
          button(name="searchGoogle", ng-click="searchGoogle()").offset3.btn.btn-small.btn-primary Search Google
      div(ng-visible="member.publications.length == 0") {{member.fullName}} has no publications.
      div(ng-visible="member.publications.length > 0")
        div(style='overflow: hidden')
        table(class="table table-hover")
          thead
            tr
              th Title
              th Year
              th Medium
              th Notes
          tbody
            tr(ng-repeat='publication in member.publications')
              td
                a(href='/publications/edit/{{member._id}}/{{publication._id}}') {{publication.pubTitle}}
              td {{publication.pubYear}}
              td {{publication.pubMedium.mediaLabel}}
              td {{publication.pubNotes}}
    div(ng-visible="importClicked").row-fluid
      h4 Search Results
        span(style="display: inline-block;")
          button(ng-click="google.importPubs()", type="button").offset2.btn.btn-small.btn-primary Import
      p(ng-visible="google.publications.length == 0") No publications found.
      div(style='overflow: hidden')
      table(class="table table-hover")
        thead
          tr
            th Import
            th Verify
            th Exists?
            th Title
            th Year
            th Medium
            th Author
        tbody
          tr(ng-repeat='publication in google.publications')
            td
              input(type="checkbox", ng-model="publication.imported")
            td
              input(type="checkbox", ng-model="publication.verified")
            td
              button(ng-visible="publication.existingPubId", name="showExisting", ng-click="showExisting(publication.existingPubId)").btn.btn-mini Show
            td {{publication.pubTitle}}
            td {{publication.pubYear}}
            td {{publication.pubMedium.mediaLabel}}
            td
              span(ng-repeat="author in publication.reportedAuthors") {{author}},
      button(name="showMore", ng-click="searchGoogle()").btn.btn-small.btn-primary Show More

    div(role="dialog", aria-hidden="true", tabIndex="-1", id="existingPubModal").modal.hide.fade
      div.modal-header
        button(type="button", data-disiss="modal", ng-click='hidePubModal()', aria-hidden="true").close &times;
        h3 Existing Publication Details
      div.modal-body
        dl
          dt Title
          dd {{modalPub.pubTitle}}
          dt Publication Year
          dd {{modalPub.pubYear}}
          dt Media
          dd {{modalPub.pubMedium.mediaLabel}}
      div.modal-footer
        a(href="javascript:", ng-click='hidePubModal()').btn Close

//  vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 :
