div(ng-controller='EditMemberCtrl')
  div()
    h2 Editing {{member.fullName}}
    label(for='firstName') First Name
    input(type="text", ng-model='member.firstName', name="firstName")
    br
    label(for='lastName') Last Name
    input(type="text", ng-model='member.lastName', name="lastName")
    br
    label(for='inductionYear') Induction Year
    input(type="text", ng-model='member.inductionYear', name="inductionYear")
    br
    button(name="SubmitMember", ng-click="editMember()") Save Member
    br

  br
  button(name="Add Publication", ng-click="addPublication()") Add Publication
  div(ng-visible="member.publications.length > 0)
    div(style='overflow: hidden')
      h4 {{member.fullName}}'s Publications
    table(class="table table-hover")
      thead
        tr
          th ID
          th Title
          th Year
          th Medium
          th Notes
      tbody
        tr(ng-repeat='publication in member.publications')
          td {{publication._id}}
          td
            a(href='editPublication/{{member._id}}/{{publication._id}}') {{publication.pubTitle}}
          td {{publication.pubYear}}
          td {{publication.pubMedium.mediaLabel}}
          td {{publication.pubNotes}}


//  vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 :
