div(ng-controller='EditMemberCtrl')
  h2 Editing {{member.fullName}}
  button(name="Add Publication", ng-click="addPublication()") Add Publication
  br
  label(for='firstName') First Name
  input(type="text", ng-model='member.firstName', name="firstName")
  br
  label(for='lastName') Last Name
  input(type="text", ng-model='member.lastName', name="lastName")
  br
  label(for='inductionYear') Induction Year
  input(type="text", ng-model='member.inductionYear', name="inductionYear")
  br

  div(ng-repeat='publication in member.publications')
    label(for='publicationType') Publication Type
    select(name='pubMedia', ng-options="pubMedium in pubMedia")
    label(for='pubTitle') Publication Title
    input(type="text", ng-model='publication.pubTitle', name="pubTitle")
    label(for='pubYear') Publication Year
    input(type="text", ng-model='publication.pubYear', name="pubYear")
    label(for='pubNotes') Notes
    textbox(ng-model='publication.pubYear', name="pubNotes")
    button(name="Submit", ng-click="editPublication(publication)") Submit
    button(name="Remove", ng-click="removePublication(publication)") Remove
    button(name="Edit", ng-click="editPublication(publication)") Edit
  button(name="editMemberSubmit", ng-click="editMember()") Submit

//  vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 :
