div
  h3 Import Members
  form(ng-controller="ImportMemberCtrl", name="importMembers")
    div.row-fluid
      div.row-fluid
        input(type="file", name="importMembersCsv", id="importMembersCsv")
      div.row-fluid
        button(ng-click="uploadImport()", id="importMembersSubmit", name="importMembersSubmit").btn.btn-primary Submit
    div {{error}}
//  vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 :
