div.row-fluid
  h2 Welcome to ALS Books!
  div.row-fluid
    span This site serves to document the various published works of ALS members. Use it to explore literature, film, and television productions of various members of the Adelphic Literary Society.
