div(ng-controller='PublicationsCtrl')
  p There are {{ publications.length }} publications
  table
    thead
      tr
        th Member Name
        th Induction Year
        th Title
        th Year Published
        th Medium
        th Notes
    tr(ng-repeat='publication in publications')
      td
        a(href='editMember/{{publication.member._id}}') {{publication.member.fullName}}
      td {{publication.member.inductionYear}}
      td {{publication.pubTitle}}
      td {{publication.pubYear}}
      td {{publication.pubMedia[0].mediaLabel}}
      td {{publication.pubNotes}}
