div(ng-controller="PublicationsCtrl")
  div.row-fluid
    div.span4
      h2 Publications
      p {{ publicationsHeader }}
    div.span3.offset5
      form(ng-submit="search(searchQuery)").form-search
        input(type="text",ng-model="searchQuery").input-medium.search-query
        div.btn-group
          a.btn-small.dropdown-toggle(data-toggle='dropdown', href='#') {{ currentSearchTerm().label }}
            span.caret
          ul(ng-repeat='term in searchTerms').dropdown-menu
            li(ng-repeat='term in searchTerms')
              a(ng-click="selectTerm(term)") {{ term.label }}
        button(type="submit").btn Search
  div(ng-visible="publications.length > 0")
    table.table.table-hover
      thead
        tr
          th
            a(href="javascript:", ng-click="sortBy('pubTitle')") Title
          th
            a(href="javascript:", ng-click="sortBy('member.fullName')") Member Name
          th
            a(href="javascript:", ng-click="sortBy('pubYear')") Year Published
          th
            a(href="javascript:", ng-click="sortBy('pubMedium.mediaLabel')") Medium
          th Notes
      tr(ng-repeat='publication in publications', ng-class="pubStatus(publication)")
        td
          a(ng-visible="loggedIn", href='/publications/edit/{{publication.member._id}}/{{publication._id}}') {{publication.pubTitle}}
          a(ng-visible="!loggedIn", href='/publications/view/{{publication.member._id}}/{{publication._id}}') {{publication.pubTitle}}
        td
          a(ng-visible="loggedIn",href='/members/{{publication.member._id}}') {{publication.member.fullName}}
          span(ng-visible="!loggedIn") {{publication.member.fullName}}
        td {{publication.pubYear}}
        td {{publication.pubMedium.mediaLabel}}
        td {{publication.pubNotes}}
    div.pagination
      ul
        li
          a(href="javascript:", ng-click="prevPage()") Prev
        li(ng-repeat='thisPage in visiblePages()', ng-class="isPageSelected(thisPage)")
          a(href="javascript:",ng-click="navPage(thisPage)") {{ thisPage + 1 }}
        li
         a(href="javascript:", ng-click="nextPage()") Next
    h5 Legend
      div.row-fluid
        em.label.label-warning Work unverified
      div.row-fluid
        em.label.label-success Work verified
//  vim: set et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
