div
  h2 Publications
  p {{ publicationsHeader }}
  table(class="table table-hover")
    thead
      tr
        th Title
        th Member Name
        th Induction Year
        th Year Published
        th Medium
        th Notes
    tr(ng-repeat='publication in publications')
      td
        a(href='/publications/edit/{{publication.member._id}}/{{publication._id}}') {{publication.pubTitle}}
      td
        a(href='/members/{{publication.member._id}}') {{publication.member.fullName}}
      td {{publication.member.inductionYear}}
      td {{publication.pubYear}}
      td {{publication.pubMedium.mediaLabel}}
      td {{publication.pubNotes}}
