div
  h2 Publications
  p {{ publicationsHeader }}
  div(ng-visible="publications.length > 0")
    table.table.table-hover
      thead
        tr
          th Title
          th Member Name
          th Induction Year
          th Year Published
          th Medium
          th Notes
      tr(ng-repeat='publication in publications', ng-class="pubStatus(publication)")
        td
          a(ng-visible="loggedIn", href='/publications/edit/{{publication.member._id}}/{{publication._id}}') {{publication.pubTitle}}
          a(ng-visible="!loggedIn", href='/publications/view/{{publication.member._id}}/{{publication._id}}') {{publication.pubTitle}}
        td
          a(ng-visible="loggedIn",href='/members/{{publication.member._id}}') {{publication.member.fullName}}
          span(ng-visible="!loggedIn") {{publication.member.fullName}}
        td {{publication.member.inductionYear}}
        td {{publication.pubYear}}
        td {{publication.pubMedium.mediaLabel}}
        td {{publication.pubNotes}}
    div.pagination
      ul
        li
          a(href="javascript:", ng-click="prevPage()") Prev
        li(ng-repeat='thisPage in visiblePages()', ng-class="isPageSelected(thisPage)")
          a(href="javascript:",ng-click="navPage(thisPage)") {{ thisPage + 1 }}
        li
         a(href="javascript:", ng-click="nextPage()") Next
    h5 Legend
      div.row-fluid
        em.label.label-warning Work unverified
      div.row-fluid
        em.label.label-success Work verified
//  vim: set et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
