div
  ul.nav.nav-tabs
    li(ng-class='tabs.createUser')
      a(href="javascript:", eat-click, ng-click="toggleTab('createUser')") Create User
    li(ng-class='tabs.manageUsers')
      a(href="javascript:", eat-click, ng-click="toggleTab('manageUsers')") Manage Users
  form.signup.form-horizontal(ng-visible="tabs.createUser == 'active'")
    h3 Create Account
    .control-group(ng-class="{error: errors.name != null}")
      label.control-label(for='name') Full name
      .controls
        input#name(type='text', name="name", placeholder='Full name', ng-model='user.name')
        div(ng-visible='errors.name != null', ng-model='errors.name.type') {{ errors.name.type }}

    .control-group(ng-class="{error: errors.email != null}")
      label.control-label(for='email') Email
      .controls
        input#email(type='text', name="email", ng-model="user.email", placeholder='Email')
        div(ng-visible='errors.email != null', ng-model='errors.email.type') {{ errors.email.type }}

    .control-group(ng-class="{error: errors.username != null}")
      label.control-label(for='username') Username
      .controls
        input#username(type='text', name="username", placeholder='Username', ng-model='user.username')
        div(ng-visible='errors.username != null', ng-model='errors.username.type') {{ errors.username.type }}

    .control-group(ng-class="{error: errors.hashed_password != null}")
      label.control-label(for='password') Password
      .controls
        input#password(type='password', name="password", placeholder='Password', ng-model='user.password')
        div(ng-visible='errors.hashed_password != null', ng-model='errors.hashed_password.type') {{ errors.hashed_password.type }}

    .form-actions
      button.btn(type='button', ng-click='signup()') Create Account
      &nbsp;
      | or&nbsp;
      a.show-login(href="/login") login
