div(ng-visible='!userSelected')
  ul.nav.nav-tabs
    li(ng-class='tabs.createUser')
      a(href="javascript:", eat-click, ng-click="toggleTab('createUser')") Create User
    li(ng-class='tabs.manageUsers')
      a(href="javascript:", eat-click, ng-click="toggleTab('manageUsers')") Manage Users
  form.signup.form-horizontal(ng-visible="tabs.createUser == 'active'")
    h3 Create Account
    .control-group(ng-class="{error: errors.name != null}")
      label.control-label(for='name') Full name
      .controls
        input#name(type='text', name="name", placeholder='Full name', ng-model='user.name')
        div(ng-visible='errors.name != null', ng-model='errors.name.type') {{ errors.name.type }}

    .control-group(ng-class="{error: errors.email != null}")
      label.control-label(for='email') Email
      .controls
        input#email(type='text', name="email", ng-model="user.email", placeholder='Email')
        div(ng-visible='errors.email != null', ng-model='errors.email.type') {{ errors.email.type }}

    .control-group(ng-class="{error: errors.username != null}")
      label.control-label(for='username') Username
      .controls
        input#username(type='text', name="username", placeholder='Username', ng-model='user.username')
        div(ng-visible='errors.username != null', ng-model='errors.username.type') {{ errors.username.type }}

    .control-group(ng-class="{error: errors.hashed_password != null}")
      label.control-label(for='password') Password
      .controls
        input#password(type='password', name="password", placeholder='Password', ng-model='user.password')
        div(ng-visible='errors.hashed_password != null', ng-model='errors.hashed_password.type') {{ errors.hashed_password.type }}

    .form-actions
      button.btn(type='button', ng-click='signup()') Create Account
  div(ng-visible="users.length > 0 && tabs.manageUsers == 'active'")
    table.table.table-hover
      thead
        tr
          th User Name
          th Name
          th E-mail
      tr(ng-repeat='user in users')
        td 
          a(href="javascript:", eat-click, ng-click="setUser(user)") {{ user.username }}
        td {{ user.name }}
        td {{ user.email }}

  // TODO: Move to a separate file
form.form-horizontal(ng-visible="userSelected")
  h3 Editing User {{ selectedUser.username }}

  .control-group(ng-class="{error: manageErrors.username != null}")
    label.control-label(for='username') Username
    .controls
      input#updateUsername(type='text', name="updateUsername", placeholder='Username', ng-model='selectedUser.username')
      div(ng-visible='manageErrors.username != null', ng-model='manageErrors.username.type') {{ manageErrors.username.type }}

  .control-group(ng-class="{error: manageErrors.email != null}")
    label.control-label(for='email') Email
    .controls
      input#updateEmail(type='text', name="updateEmail", ng-model="selectedUser.email", placeholder='Email')
      div(ng-visible='manageErrors.email != null', ng-model='manageErrors.email.type') {{ manageErrors.email.type }}


  .control-group(ng-class="{error: manageErrors.name != null}")
    label.control-label(for='name') Full name
    .controls
      input#updateName(type='text', name="updateName", placeholder='Full name', ng-model='selectedUser.name')
      div(ng-visible='manageErrors.name != null', ng-model='manageErrors.name.type') {{ manageErrors.name.type }}

  .control-group()
    label.control-label(for='abilities') Abilities
    .controls
      select#updateAbilities(name='abilities', multiple='true', ng-model="selectedUser.abilities", ng-options="a as a.label for a in abilities track by a._id")


  .form-actions
    button.btn.btn-success(type='button', ng-click='updateUser()') Update User
    &nbsp;
    button.btn(href="javascript:", eat-click, ng-click="cancelEdit()") Cancel
