div(ng-controller='MembersCtrl')
  h2 Members
  p There are {{ members.length }} members
  table
    thead
      tr
        th Member Name
        th Induction Year
    tr(ng-repeat='member in members')
      td
        a(href='editMember/{{member._id}}') {{member.fullName}}
      td {{member.inductionYear}}
