div(ng-controller="MembersCtrl")
  div.row-fluid
    div.span4
      h2 Members
        span(style="display: inline-block;")
          a(class="btn btn-small btn-primary", style="margin-left:15px", href="/importMembers").offset1 Import
      p {{ memberHeader }}
    div.span3.offset5
      form(ng-submit="search(searchQuery)").form-search
        input(type="text",ng-model="searchQuery").input-medium.search-query
        div.btn-group
          a.btn-small.dropdown-toggle(data-toggle='dropdown', href='#') {{ currentSearchTerm().label }}
            span.caret
          ul(ng-repeat='term in searchTerms').dropdown-menu
            li(ng-repeat='term in searchTerms')
              a(ng-click="selectTerm(term)") {{ term.label }}
        button(type="submit").btn Search
  div(ng-visible="members.length > 0")
    table.table.table-hover
      thead
        tr
          th
            a(href="javascript:", ng-click="sortBy('fullName')") Member Name
          th Induction Year
          th E-mail
          th Publications
      tr(ng-repeat='member in members')
        td
          a(href='members/{{member._id}}') {{member.fullName}}
        td {{member.inductionYear}}
        td
          span(ng-visible="member.emailAddresses.length == 0")
            em (None)
          span(ng-visible="member.emailAddresses.length > 0") {{member.emailAddresses[0]}}
        td
          span(ng-visible="member.publications.length == 0")
            em (None)
          span(ng-visible="member.publications.length > 0") {{member.publications.length}}
    div.pagination
      ul
        li
          a(href="javascript:", ng-click="prevPage()") Prev
        li(ng-repeat='thisPage in visiblePages()', ng-class="isPageSelected(thisPage)")
          a(href="javascript:",ng-click="navPage(thisPage)") {{ thisPage + 1 }}
        li
         a(href="javascript:", ng-click="nextPage()") Next
