div(ng-controller="SearchCtrl")
  div.row-fluid
    div.span4
      h2 Web Search
      p {{ memberHeader }}
    div.span3.offset5
      form(ng-submit="search(searchQuery)").form-search
        input(type="text",ng-model="searchQuery").input-medium.search-query
        div.btn-group
          a.btn-small.dropdown-toggle(data-toggle='dropdown', href='#') {{ currentSearchTerm().label }}
            span.caret
          ul(ng-repeat='term in searchTerms').dropdown-menu
            li(ng-repeat='term in searchTerms')
              a(ng-click="selectTerm(term)") {{ term.label }}
        button(type="submit").btn Search
  table(ng-visible="members.length > 0").table.table-hover
    thead
      tr
        th Member Name
        th
          img(src='img/google.png')
    tr(ng-repeat='member in members')
      td
        a(href='members/{{member._id}}') {{member.fullName}}
      td
        button(ng-visible="!(searchProviders.google.hasBeenSearched(member))", ng-click="searchProviders.google.search(member)").btn.btn-mini.btn-link Search
        button(ng-visible="(searchProviders.google.hasBeenSearched(member))", ng-click="searchProviders.google.search(member)").btn.btn-mini.btn-link {{ getDate(member.googleSearched).toDateString() }}
  div.pagination
    ul
      li
        a(href="javascript:", ng-click="prevPage()") Prev
      li(ng-repeat='thisPage in visiblePages()', ng-class="isPageSelected(thisPage)")
        a(href="javascript:",ng-click="navPage(thisPage)") {{ thisPage + 1 }}
      li
        a(href="javascript:", ng-click="nextPage()") Next
//  vim: set et ft=jade tw=0 fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
