extends layout

block body
  div(class="container-fluid")
    div(class="row-fluid")
      div(class="span2")
        h2 ALS Books
        ul(class="nav nav-pills nav-stacked")
          li
            a(href='/') Publications
          li
            a(href='/members') Members
            ul(class="nav nav-pills nav-stacked")
              li
                a(href='/importMembers') Import New Members from CSV
      div(class="span10")
        div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/bootstrap/bootstrap.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
//  vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
