extends layout

block body
  div(ng-controller="IndexCtrl", class="container-fluid")
    div(class="row-fluid")
      div(class="span2")
        h2 ALS Books
        ul(class="nav nav-pills nav-stacked")
          li(ng-class='tabs.publication')
            a(href="/", eat-click, ng-click="toggleTab('publication')") Publications
          li(ng-class='tabs.member')
            a(href="/members", eat-click, ng-class='tabs.member', ng-click="toggleTab('member')") Members
      div(class="span10")
        div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/bootstrap/bootstrap.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
//  vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
