extends layout

block body
  div(ng-controller="IndexCtrl", class="container-fluid")
    div(class="navbar")
      div(class="navbar-inner")
        h2
          a(href="/", ng-click="refreshTab") ALS Books
        ul(class="nav nav-pills nav-stacked")
          li(ng-class='tabs.publication.navClass')
            a(href="/publications", eat-click, ng-click="refreshTab") Publications
          li(ng-class='tabs.member.navClass')
            a(href="/members", eat-click, ng-click="refreshTab") Members
          li(ng-class='tabs.webSearch.navClass')
            a(href="/webSearch", eat-click, ng-click="refreshTab") Web Search
          li(ng-class='tabs.publication.navClass')
            a(href="/login", eat-click, ng-click="refreshTab") Login
    div(ng-view)

  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='js/lib/bootstrap/bootstrap.js')
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/underscore-min.js')
  script(src='js/lib/angular-underscore.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
//  vim: set tw=0 ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
