extends layout

block body
  div(ng-controller="IndexCtrl", class="container-fluid")
    div(class="navbar")
      div(class="navbar-inner",ng-cloak="ng-cloak")
        h2
          a(href="/", ng-click="refreshTab") ALS Publication Tracker
        ul(class="nav nav-pills nav-stacked")
          li(ng-class='tabs.publications.navClass', ng-visible="tabs.publications.visible")
            a(href="/publications", eat-click, ng-click="refreshTab") Publications

          li(ng-class='tabs.member.navClass',ng-visible="tabs.member.visible")
            a(href="/members", eat-click, ng-click="refreshTab") Members

          li(ng-class='tabs.webSearch.navClass',ng-visible="tabs.webSearch.visible")
            a(href="/webSearch", eat-click, ng-click="refreshTab") Web Search

          li(ng-class='tabs.login.navClass', ng-visible="!loggedIn")
            a(href="/login", eat-click, ng-click="refreshTab") Login

          li(ng-class='tabs.signup.navClass', ng-visible="tabs.signup.visible")
            a(href="/signup", eat-click, ng-click="refreshTab") Create Account

          li(ng-visible="tabs.logout.visible")
            a(href="javascript:", eat-click, ng-click="logout()") Log out
    div(ng-view)

  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='js/components/bootstrap/bootstrap.js')
  script(src='js/components/angular/angular.js')
  script(src='js/components/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='js/components/angular/angular-cookies.js')
  script(src='js/components/angular/angular-route.js')
  script(src='js/components/underscore-min.js')
  script(src='js/components/angular-underscore.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers/IndexCtrl.js')
  script(src='js/controllers/LandingCtrl.js')
  script(src='js/controllers/LoginCtrl.js')
  script(src='js/controllers/MembersCtrl.js')
  script(src='js/controllers/PublicationsCtrl.js')
  script(src='js/controllers/SearchCtrl.js')
  script(src='js/controllers/SearchProviders/SearchGoogle.js')
  script(src='js/controllers/SignupCtrl.js')
  script(src='js/controllers/)
  script(src='js/filters.js')
  script(src='js/directives.js')
//  vim: set tw=0 ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 : 
