!!!
html(ng-app="alsbooks")
  head
    meta(charset='utf8')
    base(href='/')
    title Adelphic Literary Society Publication Tracker
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    meta(name="ROBOTS", content="NOINDEX, NOFOLLOW")
  body
    div.container-fluid
      block body
// vim: set ft=jade et fenc=utf-8 ff=unix sts=0 sw=2 ts=2 :
