!!!
html(ng-app="alsbooks")
  head
    meta(charset='utf8')
    base(href='/')
    title Adelphic Literary Society Publication Tracker (ALSBooks)
    link(rel='stylesheet', href='/css/app.css')
  body
    block body
